.img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
  
}
/* CSS for image */


/* color of text */

@media only screen and (max-width: 480px) {
  body {
    background-color: whitesmoke
}


a:link {
  color: whitesmoke;
}


a:visited {
  color: whitesmoke;
}
 .img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* CSS for image for moblie*/
 }


  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color:whitesmoke;
    width: 47%;
    height: 9%;
    float: left;
    position: fixed;
    
    /* nav bar for moblie*/
  }


  .box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    width: 93.5%;
    height: 60%;
    float: left;
    position: unset;
    /* the CSS for the first box for moblie*/
  }
  
  
  .box2 {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    background-color: purple;
    width: 93.5%;
    height: 60%;
    float: left;
    /* CSS for the seccont box for moblie*/
  }
    
 .box3 {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: green;
   width: 93.5%;
   height: 50%;
   float: left;
   /* css for the third box for moblie*/
 }

 .boxStorage {
   display: block;
   justify-content: space-between;
   /* box spacing for moblie*/
 }
 
 
 /* .textcolor2 {
   color: lightskyblue;
 } */
 
 div#navbar{
   width: 90vw;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
 /* the spacing in the navbar for moblie */ 
 }

 .text3{
  display: flex;
  color: red;
  text-align: center;
  justify-content: center;
  margin-left: auto;
    margin-right: auto;
    width: 8em;
  font-size: 150%;
  width: 70%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',
   'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /* text for titles */
  }

  .text2{
    display: flex;
    color: blue;
    text-align: center;
    justify-content: center;
    margin-left: auto;
      margin-right: auto;
      width: 8em;
    font-size: 150%;
    width: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
      /* text for titles */
    }
.text{
  
    display: flex;
  
    text-align: center;
    justify-content: center;
    margin-left: auto;
      margin-right: auto;
      width: 8em;
    font-size: 150%;
    width: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
   /* text for moblie*/
  }

  body {
    
    background-color: lightgrey;
    color: black ;
    
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  button{
    color: gold;
    background-color: green;
    padding: 5px;
    font-size: 25px;
  
  }

  .toggle{
    position: relative;
    top: 2rem;
    left: 7rem;
    visibility: visible;
    display: block;
  }
/*  


 */

}
@media only screen and (min-width: 1025px) and (max-width: 3000px) {
  /* the CSS for coumputer */

  * {
    color: white;
  }

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* CSS for image */
}


.field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 97%;
  height: 7%;
  float: left;
  position: fixed;
  border-style: solid;
  border-style: solid;
  border-width: 4px;
  /* nav bar*/
}


.body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='36.5' stroke-opacity='0.93' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg transform='scale(0.532)' style='transform-origin:center'%3E%3Cg transform='rotate(72 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-129.6 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23FF0' href='%23a' transform='rotate(-64.8 0 0) scale(0.352)'/%3E%3Cuse stroke='%23fff700' href='%23a' transform='rotate(-56.7 0 0) scale(0.433)'/%3E%3Cuse stroke='%23fff000' href='%23a' transform='rotate(-48.6 0 0) scale(0.514)'/%3E%3Cuse stroke='%23ffe800' href='%23a' transform='rotate(-40.5 0 0) scale(0.595)'/%3E%3Cuse stroke='%23ffe000' href='%23a' transform='rotate(-32.4 0 0) scale(0.676)'/%3E%3Cuse stroke='%23ffd800' href='%23a' transform='rotate(-24.3 0 0) scale(0.757)'/%3E%3Cuse stroke='%23ffd000' href='%23a' transform='rotate(-16.2 0 0) scale(0.838)'/%3E%3Cuse stroke='%23ffc800' href='%23a' transform='rotate(-8.1 0 0) scale(0.919)'/%3E%3Cuse stroke='%23ffc000' href='%23a'/%3E%3Cuse stroke='%23ffb800' href='%23a' transform='rotate(8.1 0 0) scale(1.081)'/%3E%3Cuse stroke='%23ffb000' href='%23a' transform='rotate(16.2 0 0) scale(1.162)'/%3E%3Cuse stroke='%23ffa700' href='%23a' transform='rotate(24.3 0 0) scale(1.243)'/%3E%3Cuse stroke='%23ff9f00' href='%23a' transform='rotate(32.4 0 0) scale(1.324)'/%3E%3Cuse stroke='%23ff9600' href='%23a' transform='rotate(40.5 0 0) scale(1.405)'/%3E%3Cuse stroke='%23ff8d00' href='%23a' transform='rotate(48.6 0 0) scale(1.486)'/%3E%3Cuse stroke='%23ff8400' href='%23a' transform='rotate(56.7 0 0) scale(1.567)'/%3E%3Cuse stroke='%23ff7b00' href='%23a' transform='rotate(64.8 0 0) scale(1.648)'/%3E%3Cuse stroke='%23ff7100' href='%23a' transform='rotate(72.9 0 0) scale(1.729)'/%3E%3Cuse stroke='%23ff6700' href='%23a' transform='rotate(81 0 0) scale(1.81)'/%3E%3Cuse stroke='%23ff5d00' href='%23a' transform='rotate(89.1 0 0) scale(1.891)'/%3E%3Cuse stroke='%23ff5200' href='%23a' transform='rotate(97.2 0 0) scale(1.972)'/%3E%3Cuse stroke='%23ff4500' href='%23a' transform='rotate(105.3 0 0) scale(2.053)'/%3E%3Cuse stroke='%23ff3700' href='%23a' transform='rotate(113.4 0 0) scale(2.134)'/%3E%3Cuse stroke='%23ff2400' href='%23a' transform='rotate(121.5 0 0) scale(2.215)'/%3E%3Cuse stroke='%23F00' href='%23a' transform='rotate(129.6 0 0) scale(2.296)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* the background */
}

.projectb_background {
background-color: #2D2D2D;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.61'%3E%3Cpolygon fill='%23333f37' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23395041' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2340624a' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23467354' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234C855E' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
/* the background for other pages*/
}

/* .text {
  float: left;
} */

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  width: 26%;
  height: 99%;
  float: left;
  position: unset;
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  /* the CSS for the first box */
}


.box2 {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  background-color: purple;
  width: 26%;
  height: 150%;
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  /* CSS for the seccont box */
}

.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  width: 26%;
  height: 99%;
  float: right;
  border-style: solid;
  border-style: solid;
  border-width: 5px;
  /* css for the third box */
}


.boxStorage {
  display: flex;
  justify-content: space-between;
  /* box spacing */
}


/* .textcolor2 {
  color: lightskyblue;
} */

div#navbar{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  /* the spacing in the navbar */
}

.text{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
    margin-right: auto;
    width: 8em;
  font-size: 150%;
  width: 70%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',
   'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
   /* text for Contact page */
}



.text2{
  display: flex;
  color: blue;
  text-align: center;
  justify-content: center;
  margin-left: auto;
    margin-right: auto;
    width: 8em;
  font-size: 150%;
  width: 70%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',
   'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /* text for hyper links */

}

.text3{
  display: flex;
  color: red;
  text-align: center;
  justify-content: center;
  margin-left: auto;
    margin-right: auto;
    width: 8em;
  font-size: 170%;
  width: 70%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',
   'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /* text for titles */
}


.toggle{
    position: relative;
    top: 2rem;
    left: 7rem;
    visibility:hidden;
    display: none;
  }

  iframe{
    top: 2rem;
    left: 7rem;
  }

/* end of page */
}