.img {
    display: flex;
    align-items: center;
    justify-content: center;
 text-align: center;
}

* {
            background-color: black;
            color: whitesmoke;
        }

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 100%;
    height: 999%;
    float: left;
}





